#table {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
#table > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}
#table div.pile {
	max-height: 20cqh;
	max-width: calc( 20cqh * 0.692 );
}

#spare {
	margin-right: 7cqh;
}
#discard {
	margin-left: 7cqh;
}

.tower .label,
#spare .label,
#discard .label {
	text-align: center;
	margin-top: 10cqh;
	width: 92%;
}
#spare .glyph,
#discard .glyph {
	position: absolute;
	width: 100%;
	color: #060;
	text-align: center;
	font-size: 40cqh;
}

/* Label symbols are easily hidden on certain cards, so move them to the right of the number
   for cards where you can't see the face symbols/ */
.cssking .label .symbol,
.cssqueen .label .symbol,
.cssjack .label .symbol,
.cssace .label .symbol {
	font-size: 7cqh;
	margin-left: 7.5cqh;
	margin-top: -7cqh;
}