/* Table has three vertical sections: suits, beds, and the bouquet. */
#table {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Suits are four piles for the cards of each suit to go on. */
.suits {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: center;
}

/* There are six beds for rearranging the cards while playing. */
.beds {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	flex-grow: 1;
}

/* The bouquet is the undealt cards which are arranged horizontally in a pretty box. */
.bouquet {
	position: relative;
	border: 0;
	padding: 1rem;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.15);
	display: flex;
	gap: 0;
}
#bouquet {
	max-width: unset;
	border-radius: 0;
	border-color: transparent;
	flex-grow: 1;
	max-height: 16cqh;
	margin: 0;
}

/* Limit the card height to 16% of the table's height, and maintain the aspect ratio. */
.pile {
	max-height: 16cqh;
	max-width: calc( 16cqh * 0.692 );
}

/* Put the big labels on the suit piles. */
.pile .symbol {
	color: rgba(0,0,0,0.15);
	font-size: 62cqh;
	text-align: center;
	line-height: 73cqh;
}
.pile .label {
	color: rgba(0,0,0,0.35);
	font-size: 16cqh;
}

/* Make the label text on the empty beds cute. */
.bed-label {
	font-size: 12cqh;
	color: rgba(0,0,0,0.5);
	margin: 5cqh;
}