#table {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.gap,
.pile {
	width: 11cqw;
	max-height: 21cqh;
	max-width: calc( 21cqh * 0.692 );
}

.pile .label, 
.pile .bottomlabel {
	color: rgba(0,0,0,0.15);
	font-size: 62cqh;
}