#table {
	min-width: 500px;
	max-width: 1000px;
}

.stack4 {
	box-shadow: 4px 4px 2px rgba(0,0,0,0.75);
}
.stack3 {
	box-shadow: 3px 3px 2px rgba(0,0,0,0.75);
}
.stack2 {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}
.stack1 {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}

.piles {
	display: flex;
	width: 100%;
	gap: 2%;
	margin-bottom: 2em;
}

	.pile {
		width: 12.5%;
		border-radius: 8%;
		aspect-ratio: 0.7142857143;
		position: relative;
		border: 1px solid #040;
	}

	.nopile {
		border: unset;
	}

	.card {
		border: 1px solid #040;
		border-radius: 8%;
		aspect-ratio: 0.7142857143;
		background-color: white;
		position: absolute;
		width: 100%;
	}

	.hearts, .diamonds {
		color: red;
	}

	.clubs, .spades {
		color: black;
	}
	.label {
		position: absolute;
		top: 0.25em;
		left: 0.5em;
	}
	.bottomlabel {
		position: absolute;
		bottom: 0.25em;
		right: 0.5em;
		transform: rotate(180deg);
	}

	.card.faceDown {
		background-color: blue;
	}

	.interactive {
		cursor: pointer;
	}
	.interactive:hover {
		border: 2px solid white;
	}