body {
	background-color: #444;
	color: #fff;
	font-family: 'Karla';

}

#table {
	position: absolute;
	top: 1em;
	bottom: 2em;
	left: 1em;
	right: 1em;
	border: 2px solid #142;
	background-color: #183;
	border-radius: 8px;
	padding: 1em;
	box-shadow: 0px 8px 50px rgba(0,0,0,0.5);
}

#foot {
	position: absolute;
	bottom: 0;
	padding: 0.5em;
}

#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	bottom: 40%;
	background-color: rgba(0,0,0,0.5);
	padding: 6em;
	box-shadow: 0px 8px 50px rgba(0,0,0,0.5);
}

#debug {
	position:absolute;
	right: 0;
}

a.btn {
	background-color: #36f;
	padding: 0.5em 2em;
	border: 1px solid #006;
	border-radius: 3px;
	color: #fff;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	text-decoration: none;
}

a.btn:hover {
	background-color: #139;
}

a {
	color: yellow;
}
a:hover {
	text-decoration: none;
}

.hidden {
	opacity: 0;
}
#banner.hidden {
	display: none;
}