body {
	background-color: #444;
	color: #fff;
	font-family: 'Karla';
	overflow-x: hidden;
}

* {
	-webkit-user-select: none;
	user-select: none;
}

#table {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	min-width: 500px;
	border: 2px solid #142;
	background-color: #183;
	border-radius: 8px;
	padding: 1em;
	margin-top: 1em;
	box-shadow: 0px 8px 50px rgba(0,0,0,0.5);
}

#cards,
#glass {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
	#glass.canClick {
		cursor: pointer;
	}
	#glass.canDrag {
		cursor: grab;
	}

#masthead {
	position: absolute;
	top: 0;
	padding: 0.5em;
	display: flex;
	left: 0;
	right: 1rem;
}
	#masthead ul {
		flex: 10;
		display: inline-flex;
		gap: 1rem;
		margin: 0;
		padding-inline-start: 1rem;
	}
	#masthead ul li {
		list-style-type: none;
	}
	#masthead a.selected {
		color: white;
		border-bottom: 1px solid #fff;
	}
	#masthead a {
		border: 1px solid transparent;
		text-decoration: none;
		padding: 0px 2px;
	}
	#masthead a:hover {
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	#masthead div {
		display: flex;
		gap: 1rem;
	}
	#masthead div a {
		padding: 0px 6px;
	}
	#masthead div a:hover {
		border: 1px solid #fff;
		border-radius: 5px;
	}

#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	bottom: 40%;
	background-color: rgba(0,0,0,0.75);
	padding: 3em 6em;
	box-shadow: 0px 8px 50px rgba(0,0,0,1);
}
	#banner h1 {
		margin-bottom: 0;
	}
	#banner p {
		margin: 1em 0 2em;
	}

#debug {
	position:absolute;
	right: 0;
}

a.btn {
	background-color: #36f;
	padding: 0.5em 2em;
	border: 1px solid #006;
	border-radius: 3px;
	color: #fff;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
	text-decoration: none;
}

a.btn:hover {
	background-color: #139;
}

a {
	color: yellow;
}
a:hover {
	text-decoration: none;
}

.hidden {
	display: none;
}

/* Piles are boxes with dark outlines, */
.pile {
	width: 12.5%;
	border-radius: 5%;
	aspect-ratio: 0.692;
	position: relative;
	border: 1px solid #040;
	container-type: size;
	user-select: none;
}

/* Piles and cards being interacted with are white and glow a bit. */
.pile.interactive {
	border: 1px solid #fff;
	box-shadow: 0px 0px 24px #fff;
}
.card.interactive {
	box-shadow: 0px 0px 24px #fff;
}

/* Pile labels are dark unless in hover state. */
.pile .label,
.pile .bottomlabel {
	color: #040;
}
.pile.interactive .label,
.pile.interactive .bottomlabel {
	color: #fff;
}

/* Cards look like playing cards :| */
.card {
	border: 1px solid #040;
	border-radius: 5%;
	aspect-ratio: 0.692;
	background-color: white;
	position: absolute;
	container: card / size;
	user-select: none;
}

/* Red suits are red, black suits are black! */
.hearts, .diamonds {
	color: #f22;
}
.clubs, .spades {
	color: black;
}
/* Cards have two labels in opposing corners. */
.label {
	position: absolute;
	top: 1cqw;
	left: 3cqh;
}
/* The bottom label is upside-down. */
.bottomlabel {
	position: absolute;
	bottom: 1cqw;
	right: 3cqh;
	transform: rotate(180deg);
}
/* Face down cards show the nice blue printed back graphic. */
.card.faceDown {
	background-image: url('../assets/blueback.png');
	background-size: cover;
	background-position: center;
}

/* Face-up cards have the suit symbol drawn on them. */
.suit {
	font-size: 50cqh;
	position: absolute;
	right: 2cqw;
	top: 25cqw;
}
/* Suit symbols are drawn in a lighter colour to stand out from values */
.hearts .suit, .diamonds .suit {
	color: #faa;
}
.clubs .suit, .spades .suit {
	color: #888;
}
/* Face up cards also show their values in a cursive font. */
.value {
	font-family: "Fleur De Leah", cursive;
	font-size: 46cqh;
	filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.5));
	position: absolute;
	width: 100%;
	top: 10cqh;
}
/* Black suit values have a white shadow to lift from the suit symbol. */
.clubs .value, .spades .value {
	filter: drop-shadow( 2px 2px 2px rgba(255,255,255,1));
}

/* Capital Qs move into the middle of the cards a bit. */
.cssqueen .value {
	left: 10cqh;

	/* These rules overcome a bug? where the left hand side of the glyph is cropped off. */
	margin-left: -10cqh;
	padding-left: 10cqh;
}

/* Thinner numbers move into the middle of the cards. */
.css2 .value, 
.css3 .value,
.css4 .value,
.css5 .value,
.css6 .value,
.css7 .value,
.css8 .value,
.css9 .value {
	left: 9cqh;
}

/* Hide the suit and value elements when the cards get small. */
@container card (width < 80px) {
	.card .value {
		display: none;
	}
	.card .suit {
		right: 14cqw;
		top: 19cqw;
	}
	.hearts .suit, .diamonds .suit {
		color: #f22;
	}
	.clubs .suit, .spades .suit {
		color: #000;
	}
}

#listOfGames {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-inline-start: 1em;
	width: fit-content;
}
	#listOfGames li {
		display: flex;
		flex-direction: column;
		width: fit-content;
	}
		#listOfGames li a {
			display: inline;
			width: fit-content;
		}

/* Keyframes which manage the tray sliding in and out by setting its left position. */
@keyframes slideIn {
  0% { left: 100% }
  100% { left: 40% }
}
@keyframes slideOut {
  0% { left: 40% }
  100% { left: 100% }
}

/* Styling and layout for the slide-in tray itself. */
#tray {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 60%;
	background-color: #333;
	border-left: 1px solid #888;
	z-index: 2;
}
	/* These two classes are applied to the tray to trigger its animations in and out. */
	#tray.open {
		animation: slideIn 0.5s forwards;
	}
	#tray.closed {
		animation: slideOut 0.5s forwards;
	}

	#tray div {
		padding: 0rem 1rem;
	}
	#tray div.header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #666;
		align-items: center;
	}
		#tray div.header a.close {
			text-decoration: none;
			font-size: 2rem;
			border: 1px solid transparent;
			padding: 0rem 0.5rem 0.1rem 0.5rem;
			border-radius: 5px;
			max-height: fit-content;
		}
			#tray div.header a.close:hover {
				color: #fff;
				background-color: #666;
				border: 1px solid #888;
			}
	#tray div.about {
		margin-top: 5rem;
		border-bottom: 1px solid #666;
	}
	#tray div.settings {
		margin-top: 1rem;
	}
	#tray div.settings label {
		padding-left: 1.5rem;
		position: relative;
		display: block;
		cursor: pointer;
		min-height: 4rem;
	}
	#tray div.settings input {
		position: absolute;
		left: 0;
	}

/* Lightbox is a non-interactive element that appears under the slide-in tray. It fades in and out. */
#lightbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}
	/* The show class is applied to the lightbox when it is needed which triggers its transition. */
	#lightbox.show {
		visibility: visible;
		opacity: 1;
		transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
	}

